<article class="post">
    <div class="Title"
    <a href="/post/{{id}}">{{title}}</a>
</div>
<div class="body">
    {{post_text}}
</div>
<div class="meta">
    Posted by {{user.username}} on {{format_date create_at}}
</div>
</article>